.profile {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  font-size: 16px
}

#special { 
  text-align: center;
}
.box {
  width: 200px;
  background-color: cadetblue;
  margin-left: 10px;
  padding: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 5px 5px 10px 0;
}
.container{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.left {
  width: 80%;
  height: 200px;
  float: left;
}

.right {
  width: 20%;
  height: 200px;
  line-height: 200px;
  float: right;
}
.right img { 
  vertical-align: middle;
}

.blog-profile {
  width: 50px;
  float: left;
  display: block;

}
.blog-name {
  float: left;
}
h4, p {
  margin: 8px
}

.blog-description {
  clear: both;
  font-size:18px;
  padding-top: 10px;
}

.navbar li {
  display:inline;
  width: 60px;
  text-align: center;
  background: #eee;
  padding: 5px 15px;
  border-radius: 5px;
}

.navbar a {
  font-size: 16px;
  text-decoration: none;
  color : black;
}


